# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.vcxproj
*.vcxproj.fillters
*.vcxproj.user

# Executables
*.exe
*.out
*.app

x64/Debug/
x64/Debug/GameEngine2D.tlog/
x64/Relise/
x64/Relise/GameEngine2D.tlog/
Debug/*
Relise/*
.vs/GameEngine2D/
.vs/GameEngine2D/v17/
.vs/GameEngine2D/FileContentIndex/
Saves/